.app {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.app main {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  padding: var(--main-padding);
  margin-top: 5.75rem;
}